.inputIcon{
  margin-top: 15px;
  z-index: 9999;
}

.dateIcon{
  padding-right: 4%;
}

.selected{
  --background: rgba(0,0,0,.2);
}

.chartItem{
  height: auto;
  position: relative;
}

.blueBg{
  --background: var(--ion-color-primary);
  color: white;
}
