<ion-content>
  <form class="form" [formGroup]="form" (ngSubmit)="submit(form.value)">
    <ion-list>
      <ion-item-divider color="secondary">
        <ion-label>
          Hábitos Alimenticios
        </ion-label>
      </ion-item-divider>
      <ion-item [formGroup]="form.controls['alimenticios']">
        <ion-label position="floating">Desayuno</ion-label>
        <ion-input formControlName="desayuno"></ion-input>
      </ion-item>
      <ion-item [formGroup]="form.controls['alimenticios']">
        <ion-label position="floating">Colación Matutina</ion-label>
        <ion-input formControlName="colacionMatutina"></ion-input>
      </ion-item>
      <ion-item [formGroup]="form.controls['alimenticios']">
        <ion-label position="floating">Comida</ion-label>
        <ion-input formControlName="comida"></ion-input>
      </ion-item>
      <ion-item [formGroup]="form.controls['alimenticios']">
        <ion-label position="floating">Colación Vespertina</ion-label>
        <ion-input formControlName="colacionVespertina"></ion-input>
      </ion-item>
      <ion-item [formGroup]="form.controls['alimenticios']">
        <ion-label position="floating">Cena</ion-label>
        <ion-input formControlName="cena"></ion-input>
      </ion-item>

      <ion-item-divider color="secondary" >
        <ion-label>
          Antecedentes personales patológicos
        </ion-label>
      </ion-item-divider>
      <ion-item [formGroup]="form.controls['antecedentes']">
        <ion-label position="floating">Alergias</ion-label>
        <ion-input formControlName="alergias"></ion-input>
      </ion-item>
      <ion-item [formGroup]="form.controls['antecedentes']">
        <ion-label position="floating">Tabaquismo</ion-label>
        <ion-input formControlName="tabaquismo"></ion-input>
      </ion-item>
      <ion-item [formGroup]="form.controls['antecedentes']">
        <ion-label position="floating">Alcoholismo</ion-label>
        <ion-input formControlName="alcoholismo"></ion-input>
      </ion-item>
      <ion-item [formGroup]="form.controls['antecedentes']">
        <ion-label position="floating">Enfermedades</ion-label>
        <ion-input formControlName="enfermedades"></ion-input>
      </ion-item>
      <ion-item [formGroup]="form.controls['antecedentes']">
        <ion-label position="floating">Cirugías</ion-label>
        <ion-input formControlName="cirugias"></ion-input>
      </ion-item>
      <ion-item [formGroup]="form.controls['antecedentes']">
        <ion-label position="floating">Medicamentos</ion-label>
        <ion-input formControlName="medicamentos"></ion-input>
      </ion-item>
      <ion-item class="blueBg" (click)="showAppointmentModal()">
        Agregar consulta
      </ion-item>

      <div *ngIf="edit">
        <ion-list *ngFor="let consulta of consultas; index as i;">
          <ion-item color="secondary">
            <ion-label position="stacked">Fecha</ion-label>
            <ion-input value="{{consulta.date}}" (ionChange)="editConsultaValue(consulta, 'date' , $event)"></ion-input>
            <ion-icon name="close-outline" slot="end" class="inputIcon" *ngIf="!swap" (click)="deleteConsulta(i)"></ion-icon>
            <ion-icon name="download-outline" slot="end" *ngIf="swap" class="inputIcon" (click)="moveInto(consulta)"></ion-icon>
          </ion-item>
          <ion-item [ngClass]="{selected: swap.field == 'peso' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">Peso</ion-label>
            <ion-input value="{{consulta.peso}}" (ionChange)="editConsultaValue(consulta, 'peso' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'peso')"></ion-icon>
          </ion-item>
          <ion-item [ngClass]="{selected: swap.field == 'grasa' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">% Grasa</ion-label>
            <ion-input value="{{consulta.grasa}}" (ionChange)="editConsultaValue(consulta, 'grasa' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'grasa')" ></ion-icon>
          </ion-item>
          <ion-item [ngClass]="{selected: swap.field == 'agua' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">% Agua</ion-label>
            <ion-input value="{{consulta.agua}}" (ionChange)="editConsultaValue(consulta, 'agua' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'agua')" ></ion-icon>
          </ion-item>
          <ion-item [ngClass]="{selected: swap.field == 'grasaVisceral' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">Grasa visceral</ion-label>
            <ion-input value="{{consulta.grasaVisceral}}" (ionChange)="editConsultaValue(consulta, 'grasaVisceral' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'grasaVisceral')"></ion-icon>
          </ion-item>
          <ion-item  [ngClass]="{selected: swap.field == 'pesoMuscular' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">Peso muscular</ion-label>
            <ion-input value="{{consulta.pesoMuscular}}" (ionChange)="editConsultaValue(consulta, 'pesoMuscular' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'pesoMuscular')"></ion-icon>
          </ion-item>
          <ion-item  [ngClass]="{selected: swap.field == 'edadMetabolica' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">Edad metabólica</ion-label>
            <ion-input value="{{consulta.edadMetabolica}}" (ionChange)="editConsultaValue(consulta, 'edadMetabolica' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'edadMetabolica')"></ion-icon>
          </ion-item>
          <ion-item [ngClass]="{selected: swap.field == 'edadOsea' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">Edad ósea</ion-label>
            <ion-input value="{{consulta.edadOsea}}" (ionChange)="editConsultaValue(consulta, 'edadOsea' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'edadOsea')"></ion-icon>
          </ion-item>
          <ion-item  [ngClass]="{selected: swap.field == 'pecho' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">Pecho</ion-label>
            <ion-input value="{{consulta.pecho}}" (ionChange)="editConsultaValue(consulta, 'pecho' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'pecho')"></ion-icon>
          </ion-item>
          <ion-item  [ngClass]="{selected: swap.field == 'cintura' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">Cintura</ion-label>
            <ion-input value="{{consulta.cintura}}" (ionChange)="editConsultaValue(consulta, 'cintura' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'cintura')"></ion-icon>
          </ion-item>
          <ion-item  [ngClass]="{selected: swap.field == 'cadera' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">Cadera</ion-label>
            <ion-input value="{{consulta.cadera}}" (ionChange)="editConsultaValue(consulta, 'cadera' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'cadera')"></ion-icon>
          </ion-item>
          <ion-item  [ngClass]="{selected: swap.field == 'bd' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">Brazo Derecho</ion-label>
            <ion-input value="{{consulta.bd}}" (ionChange)="editConsultaValue(consulta, 'bd' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'bd')"></ion-icon>
          </ion-item>
          <ion-item [ngClass]="{selected: swap.field == 'bi' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">Brazo Izquierdo</ion-label>
            <ion-input value="{{consulta.bi}}" (ionChange)="editConsultaValue(consulta, 'bi' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'bi')"></ion-icon>
          </ion-item>
          <ion-item [ngClass]="{selected: swap.field == 'pd' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">Pierna Derecha</ion-label>
            <ion-input value="{{consulta.pd}}" (ionChange)="editConsultaValue(consulta, 'pd' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'pd')"></ion-icon>
          </ion-item>
          <ion-item [ngClass]="{selected: swap.field == 'pi' && consulta.id == swap.consulta.id}">
            <ion-label position="stacked">Pierna Izquierda</ion-label>
            <ion-input value="{{consulta.pi}}" (ionChange)="editConsultaValue(consulta, 'pi' , $event)"></ion-input>
            <ion-icon name="reorder-four-outline" slot="end" class="inputIcon" (click)="moveTo(consulta, 'pi')"></ion-icon>
          </ion-item>
        </ion-list>
      </div>

      <ion-item-divider color="secondary" *ngIf="!edit">
        <ion-label>
          Gráficas
        </ion-label>
      </ion-item-divider>
      <ion-grid *ngIf="!edit">
        <ion-row>
          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                Peso
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.peso" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                % Grasa
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.grasa" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                % Agua
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.agua" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                Grasa visceral
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.grasaVisceral" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                Peso Muscular
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.pesoMuscular" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                Edad Metabólica
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.edadMetabolica" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                Edad Ósea
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.edadOsea" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                Pecho
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.pecho" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                Cintura
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.cintura" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                Cadera
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.cadera" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                Brazo Derecho
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.bd" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                Brazo Izquierdo
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.bi" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                Pierna Derecha
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.pd" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

          <ion-col class="chartItem" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item-divider color="tertiary">
              <ion-label>
                Pierna Izquierda
              </ion-label>
            </ion-item-divider>
            <app-charts [data]="charts.pi" [chartSubject]="chartSubject.asObservable()"></app-charts>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-list>
  </form>
</ion-content>
<ion-footer *ngIf="edit">
  <ion-button expand="block" type="button" (click)="submit(form.value)" [disabled]="!form.valid">Guardar</ion-button>
</ion-footer>
