<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Llamada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bigCall" [ngClass]="{'connected': connected}">
    <div class="remote_calls" [id]="remoteCalls[0]" class="remote"></div>
  </div>
  <div class="buttons">
    <ion-button shape="round" (click)="publish()"><ion-icon slot="icon-only" name="call"></ion-icon></ion-button>
    <ion-button shape="round" (click)="leave()" color="danger"><ion-icon slot="icon-only" name="call"></ion-icon></ion-button>
  </div>
  <div class="smallCall">
    <div id="agora_local" class="local"></div>
  </div>


</ion-content>
