<div class="schedule">
  <ion-grid>
    <ion-row>
      <ion-col col-1>
        <div class="header-button" (click)="substractMonth()">
          <i class="fas fa-chevron-left lightColor iconSize doubleIcon left"></i>
          <i class="fas fa-chevron-left lightColor iconSize "></i>
        </div>
      </ion-col>
      <ion-col col-1>
        <div class="header-button" (click)="substractWeek()">
          <i class="fas fa-chevron-left mainColor iconSize"></i>
        </div>
      </ion-col>
      <ion-col col-8>
        <div *ngIf="weekShown" text-center>
          <span class="header-title">semana</span>
          <span class="header-week">del {{weekShown.startOf('week').format('D MMM')}} al {{weekShown.endOf('week').format('D MMM')}}</span>
        </div>
      </ion-col>
      <ion-col col-1>
        <div class="header-button" (click)="addWeek()">
          <i class="fas fa-chevron-right mainColor iconSize"></i>
        </div>
      </ion-col>
      <ion-col col-1>
        <div class="header-button" (click)="addMonth()">
          <i class="fas fa-chevron-right lightColor iconSize"></i>
          <i class="fas fa-chevron-right lightColor iconSize doubleIcon right"></i>
        </div>
      </ion-col>
    </ion-row>
    <ion-col col-12 no-padding>
      <div class="days">
        <div class="day" [ngClass]="{'today': today.format('YYYY-MM-DD') == day.day.moment.format('YYYY-MM-DD') }" *ngFor="let day of schedule">
          <span class="dayLetters">{{day.day.moment.format('ddd').substr(0,3)}}</span>
          <span class="dayNumber"> {{day.day.moment.format('D')}}</span>
        </div>
      </div>
    </ion-col>
  </ion-grid>
  <div class="scheduler">
    <div class="hourColumn" >
      <div class="hour" *ngFor="let hour of hours">{{hour}}</div>
    </div>
    <div class="time" [ngStyle]="{'top.px': time}"></div>
    <div class="week" >

      <div class="flex">
        <div class="columns" *ngFor="let day of schedule; let i  = index;">
          <div class="hour"
               *ngFor="let hour of day.day.horas"
               drop
               dragula="EVENTS"
               id = "{{day.id}}@{{hour.id}}"
               [ngClass]="changeDrop(day.id+'@'+hour.id)"
               (click)="chooseAction(day.id, hour.id, hour.events)">

            <!-- (press)="drag($event)" -->
            <div (click)="chooseAction(day.id, hour.id, hour.events, event)"
                 class="consulta"
                 [ngStyle]="setStyle(event)"
                 id = "{{event.id}}"
                 *ngFor="let event of hour.events">
              <div *ngIf="!user.doctor && event.data.users.length > 0">
                <span *ngFor="let user of event.data.users">
                  <span *ngIf="hour.events.length == 1">{{user.name}}</span>
                  <span *ngIf="hour.events.length > 1">{{user.name.substring(0,1)}}</span>
                </span>
              </div>
              <div *ngIf="user.doctor && event.data.patient.length > 0">
                <div *ngFor="let user of event.data.patient">
                  <span *ngIf="hour.events.length == 1">{{user.name}}</span>
                  <span *ngIf="hour.events.length > 1">{{user.name.substring(0,1)}}</span>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
