<ion-content padding>
  <div ion-fixed>
    <button type="button" class="btnClose" (click)="close()">
      <img src="assets/images/btn.add.png">
    </button>
  </div>
  <div class="bd-list left-green-bar">
    <div class="title">
      Evento {{title}}
    </div>
    <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-12>
            <ion-list>

              <ion-item lines="none">
                <span class="aviso"> *Favor de llenar todos los campos.</span>
              </ion-item>

              <!-- PACIENTE PARA SELECCIONAR DOCTORES -->
              <div *ngIf="user && !user.doctor">
                <ion-item lines="none">
                  <object-quantity
                          [data]="users"
                          [title]="'Doctor'"
                          [initial]="selectedUsers"
                          [showQuantity] = "false"
                          (change)="setSelected('users',$event)"
                          (delete)="deleteSelected($event)">>
                  </object-quantity>
                </ion-item>
                <ion-item (click)="goToPage('staff')" *ngIf="users.length==0">
                  Favor dar de alta doctores para poder asignarlos a la consulta.
                </ion-item>
              </div>

              <!-- DOCTOR PARA SELECCIONAR PACIENTES -->
              <div *ngIf="user && user.doctor">
                <ion-item lines="none">
                  <object-quantity
                          [data]="users"
                          [title]="'Pacientes'"
                          [initial]="selectedUsers"
                          [showQuantity] = "false"
                          (change)="setSelected('users',$event)"
                          (delete)="deleteSelected($event)">
                  </object-quantity>
                </ion-item>
                <ion-item (click)="goToPage('staff')" *ngIf="users.length==0">
                  Favor dar de alta pacientes para poder asignarlos a la consulta.
                </ion-item>
              </div>


              <!-- COMENTARIOS -->
              <ion-item >
                <ion-textarea class="bela-textarea" [formControl]="form.controls['comments']" >Comentarios</ion-textarea>
              </ion-item>

              <ion-item >
                <ion-datetime [formControl]="form.controls['start']"
                              [min]="today"
                              (ionChange)="changeDate()"
                              displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY"></ion-datetime>
              </ion-item>

              <ion-item lines="none" class="center">
                <button ion-button class="btnForm" [disabled]="!form.valid">
                  <span>Guardar</span>
                </button>
              </ion-item>


            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
