<div class="tooltip" *ngIf="installIOS" (click)="closeTooltip()">
  <div class="add">
    <img src="/assets/images/iosAdd.png">
  </div>
  <div class="txt">
    Instala en tú iPhone: click en <img src="/assets/images/iosShare.png"> y luego Agregar a Inicio
  </div>
</div>
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <div class="logo">
            <img src="/assets/images/logo.png">
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="version">v{{version}}</div>
        <ion-list>
          <ion-menu-toggle auto-hide="false" >
            <div class="profile" *ngIf="user">
              <div class="doctor" >
                <div class="circle">
                  <i class="fas fa-user-md" *ngIf="user.doctor"></i>
                  <i class="fas fa-user" *ngIf="!user.doctor"></i>
                </div>
              </div>
              <div class="name">{{user.name}}</div>
              <div class="mail"><i class="far fa-envelope"></i> {{user.mail}}</div>
              <!--div class="admin">admin: {{user.admin}}</div-->
            </div>
            <div *ngFor="let p of appPages">
              <ion-item [routerDirection]="'forward'" [routerLink]="[p.url]" *ngIf="!p.function && p.show">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'" *ngIf="p.function && p.show" (click)="callFunction(p)">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </div>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
<mga-google-analytics></mga-google-analytics>
