<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <div class="logo">
            <img src="/assets/images/logo.png">
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" >
            <ion-item *ngIf="user">
              <div class="profile">
                <div class="name">{{user.name}}</div>
                <div class="name">{{user.mail}}</div>
                <div class="name">doctor: {{user.doctor}}</div>
                <div class="name">admin: {{user.admin}}</div>
              </div>
            </ion-item>
            <div *ngFor="let p of appPages">
              <ion-item [routerDirection]="'forward'" [routerLink]="[p.url]" *ngIf="!p.function && p.show">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'" *ngIf="p.function && p.show" (click)="callFunction(p)">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </div>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
