.logo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    width: auto;
    height: 60px;
  }
}

.profile{
  background: #3a97b5;
  width: 100%;
  min-height: 100px;
  height: auto;
  margin-top: -8px;
  padding: 20px;
  color: #ffffff;
  position: relative;

  .name{
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  .mail{
    font-size: 12px;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    i{
      font-size: 15px;
      margin-right: 5px;
    }
  }

  .doctor{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .circle{
      width: 50px;
      height: 50px;
      background: #ffffff;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    i{
      color: #3a97b5;
      font-size: 25px;
    }
  }


}
