<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="showParseBtn">
      <ion-button (click)="showParseFileModal()">
        <ion-icon name="document-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="editMode()" [ngClass]="{selected: edit}">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
    <ion-tab-bar slot="bottom" selectedTab="user">

      <ion-tab-button tab="user/{{userID}}" [ngClass]="{selected : selectedTab == 'user'}">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Usuario</ion-label>
        <ion-badge *ngIf="badge.user > 0">{{badge.user}}</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="medical/{{userID}}" [ngClass]="{selected : selectedTab == 'medical'}">
        <ion-icon name="medical-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
        <ion-badge *ngIf="badge.medical > 0">badge.medical</ion-badge>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
