<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Consultas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="events && events.length > 0">
    <ion-item-group>
      <ion-item-divider>
        Consultas en este momento
      </ion-item-divider>
      <ion-item *ngFor="let event of currentEvent">
        <div class="event" >
          {{event.start | date:'mediumDate'}} {{event.start | date:'shortTime'}} - {{event.end | date:'shortTime'}}
          <div class="patient" *ngFor="let patient of event.patient">
            {{patient.name}} {{patient.mail}}
          </div>
          <div class="patient">
            {{event.comments}}
          </div>
        </div>
        <div class="buttons" >
          <ion-button class="btnRound" shape="round" (click)="goToCall(event)">
            <ion-icon slot="icon-only" name="call"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        Consultas confirmadas
      </ion-item-divider>
      <ion-item *ngFor="let event of eventsApproved" [ngClass]="event.status">
        <div class="event" >
          {{event.start | date:'mediumDate'}} {{event.start | date:'shortTime'}}
          <!--div class="patient">
            {{event.status | scheduleStatus}}
          </div-->
          <div class="patient" *ngFor="let patient of event.patient">
            {{patient.name}} {{patient.mail}}
          </div>
          <div class="patient">
            {{event.comments}}
          </div>
        </div>
        <div class="buttons" >
          <!--ion-button class="btnRound" shape="round" (click)="goToCalendar(event)">
            <ion-icon slot="icon-only" name="calendar"></ion-icon>
          </ion-button-->
          <ion-button class="btnRound" shape="round" (click)="cancelEvent(event)" color="danger">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <span *ngIf="user.doctor">Consultas confirmadas por paciente</span>
        <span *ngIf="!user.doctor">Consultas en espera de ser confirmadas por el doctor</span>
      </ion-item-divider>
      <ion-item *ngFor="let event of eventsRequestPatient" [ngClass]="event.status">
        <div class="event" >
          {{event.start | date:'mediumDate'}} {{event.start | date:'shortTime'}}
          <div class="patient" *ngFor="let patient of event.patient">
            {{patient.name}} {{patient.mail}}
          </div>
          <div class="patient">
            {{event.comments}}
          </div>
        </div>
        <div class="buttons" >
          <ion-button class="btnRound" shape="round" (click)="confirmEvent(event, status.approved)" *ngIf="user.doctor">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
          <ion-button class="btnRound" shape="round" (click)="cancelEvent(event)" color="danger">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        Consultas esperando confirmación del paciente
      </ion-item-divider>
      <ion-item *ngFor="let event of eventsRequestDoctor" [ngClass]="event.status">
        <div class="event" >
          {{event.start | date:'mediumDate'}} {{event.start | date:'shortTime'}}
          <div class="patient" *ngFor="let patient of event.patient">
            {{patient.name}} {{patient.mail}}
          </div>
          <div class="patient">
            {{event.comments}}
          </div>
        </div>
        <div class="buttons" >
          <ion-button class="btnRound" shape="round" (click)="confirmEvent(event)" *ngIf="!user.doctor">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
          <!--ion-button class="btnRound" shape="round" (click)="goToCalendar(event)">
            <ion-icon slot="icon-only" name="calendar"></ion-icon>
          </ion-button-->
          <ion-button class="btnRound" shape="round" (click)="cancelEvent(event)" color="danger">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        Consultas sin confirmar
      </ion-item-divider>
      <ion-item *ngFor="let event of eventsNotApproved" [ngClass]="event.status">
        <div class="event" >
          {{event.start | date:'mediumDate'}} {{event.start | date:'shortTime'}}
          <!--div class="patient">
            {{event.status | scheduleStatus}}
          </div-->
          <div class="patient" *ngFor="let patient of event.patient">
            {{patient.name}} {{patient.mail}}
          </div>
          <div class="patient">
            {{event.comments}}
          </div>
        </div>
        <div class="buttons" >
          <ion-button class="btnRound" shape="round" (click)="confirmEvent(event)">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
          <!--ion-button class="btnRound" shape="round" (click)="goToCalendar(event)">
            <ion-icon slot="icon-only" name="calendar"></ion-icon>
          </ion-button-->
          <ion-button class="btnRound" shape="round" (click)="cancelEvent(event)" color="danger">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        Consultas canceladas
      </ion-item-divider>
      <ion-item *ngFor="let event of eventsCancelled" [ngClass]="event.status">
        <div class="event" >
          {{event.start | date:'mediumDate'}} {{event.start | date:'shortTime'}}
          <!--div class="patient">
            {{event.status | scheduleStatus}}
          </div-->
          <div class="patient" *ngFor="let patient of event.patient">
            {{patient.name}} {{patient.mail}}
          </div>
          <div class="patient">
            {{event.comments}}
          </div>
        </div>
        <div class="buttons" >
          <ion-button class="btnRound" shape="round" (click)="confirmEvent(event)">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
          <!--ion-button class="btnRound" shape="round" (click)="goToCalendar(event)">
            <ion-icon slot="icon-only" name="calendar"></ion-icon>
          </ion-button-->
          <ion-button class="btnRound" shape="round" (click)="cancelEvent(event)" color="danger">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <span class="noEvent" *ngIf="events && events.length == 0">No tienes consultas programadas.</span>
</ion-content>
