/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

object-quantity,
staff-hour{
  width: 100%;
}



/* in-flight clone */
.gu-mirror {
  position: relative !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
  width: auto !important;
  height: auto !important;

  &.consulta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    width: 60px !important;
    height: auto !important;
    margin-top: 80% !important;
    margin-left: 50% !important;
    padding: 0 20px;
  }

}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  /*opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);*/
}

$lightRed : rgba(232,89,91,.1);
$red: rgb(232,89,91);
$darkBlue: rgb(40,56,94);
$lightBlue: rgba(0,0,255, .1);
$grey: rgb(91,91,95);
$green: rgb(67,197,174);
$lightGreen: rgba(67,197,174, .1);

body{
  font-family: 'Montserrat' !important;
}

.btnForm{
  border-radius: 40px;
  box-shadow: 0px 9.5px 13.5px 0 rgba(1, 0, 2, 0.07);
  background-image: linear-gradient(180deg, $lightRed, $red);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  float: left;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin: auto;
}

.bd-list{
  width: 70%;
  margin: 100px auto 0 auto;
  font-family: Montserrat;

  &.left-green-bar{
    border-left: $green 6px solid;
    padding-left: 20px;
  }

  &.left-red-bar{
    border-left: $red 6px solid;
    padding-left: 20px;
  }
}

.requestByDoctor,
.requestByPatient{
  --background: none;
  background: linear-gradient(to bottom, #ffffff 30%, #dddddd 100%);
}

.cancelled{
  --background: none;
  background: linear-gradient(to bottom, #ffffff 30%, $lightRed 100%);
}

.approved{
  --background: none;
  //background: $lightGreen;
  background: linear-gradient(to bottom, #ffffff 30%, $lightGreen 100%);
}


